<!DOCTYPE html>
<html>
  <head>
    <title>Cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a41e9403cf.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>
    <%- include('header'); %>

    <div class=container>
      

        <% if (temporaryCards.length < 1) { %>
           <h2 class="list-group col-8 mt-5 mx-auto text-white"><%= user.firstname%>, votre panier est vide <i class="fas fa-sad-tear"></i></h2> 
        <% } else { %>
        <div class="row">
          <h2 class="list-group col-8 mt-5 mx-auto text-white"><%= user.firstname%>, voici les trajets que vous avez sélectionnés</h2>
          <table class="table table-light mt-3">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Trajet</th>
                <th scope="col">Date</th>
                <th scope="col">Heure de départ</th>
                <th scope="col">Prix</th>
              </tr>
            </thead>
            <tbody>
              <% for (i=0; i<temporaryCards.length; i++) { %>
              <tr>
                <th scope="row"><%= i +1 %></th>
                <td><%= temporaryCards[i].departure %> / <%= temporaryCards[i].arrival %></td>
                <td><%= dateFormat(temporaryCards[i].date) %></td>
                <td><%= temporaryCards[i].departureTime %></td>
                <td><%= temporaryCards[i].price %> €</td>
                <td><a href="/delete-cart?_id=<%= temporaryCards[i]._id %>"><i class="far fa-trash-alt"></i></a></td>
              </tr>
              <% } %>
              <tr class="list-group-item-danger">
                <th scope="row">TOTAL</th>
                <td></td>
                <td></td>
                <td></td>
                <td><%= totalPrice %> €</td>
                <td></td>
              </tr>
            </tbody>
          </table> 
        </div>
        <div>
        <a href="/backtoshop"><button type="button" class="btn btn-danger">Continuer mes achats</button></a>
        </div class="row d-flex justify-content-end">
        <div class="row d-flex justify-content-end">
          <button type="button" class="btn btn-danger" data-target="#infos" data-toggle="modal">Nickel !</button>
          <div class="modal" id="infos">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Confirmez-vous votre achat? </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <a href="/confirm-cart"><button type="button" class="btn btn-primary">Confirmer mes réservations</button></a>
                </div>
              </div>
            </div>
          </div>

        </div> 
        <% } %>

        
        
       
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
