<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>
    <%- include('header'); %>

    <div class=container>
      <div class="row">

        <h2 class="list-group col-8 mt-5 mx-auto text-white"><%=user.firstname%>, voici les voyages disponibles </h2>

        <ul class="list-group col-8 mt-5 mx-auto">
          <% for (var i=0; i<journeys.length; i++) { %>
          <li class="list-group-item mb-2 d-flex justify-content-around align-items-center">
            <h4><%= journeys[i].departure %> / <%= journeys[i].arrival %></h4>
            <span>train departure at: <%= journeys[i].departureTime %></span>
            <span><%= journeys[i].price %> €</span>
            <a href='/add-cart?_id=<%= journeys[i]._id %>'><button type="button" class="btn btn-danger">OK</button></a>
          </li>
          <% } %>
        </ul>

      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
